{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<main role="main" class="container">
        <div class="row">
            <div class="col-md-8 mt-4">
            	<div class="content-section">
					<div>
						<script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
						<script> 
							var data = JSON.parse("{{data|escapejs}}"); 
							//dataNode = document.getElementById('neatdata'); 
							//var goals=data['goals'];
							//console.log(goals);
							//var sources=data['sources'];
							var V=data['V'];
							console.log(V);
							var E=data['E'];
							var labels=data['labels'];
							var labels2=data['labels2'];
							/* 	Dijekstra's algorithm implemented
	*		on an undirected graph.
	*		Play with the variables!
	*/
	
	function setup() {
	  createCanvas(700, 300);
	  
	}
	
	function draw() {
	  background(230);
	  
	  textSize(12);
	  textAlign(CENTER, CENTER);
	  stroke(0);
	  strokeWeight(1);
	  // plot edges first
	  for (var i=0; i<E.length; i++) {
		x1 = V[ E[i][0] ][0];
		y1 = V[ E[i][0] ][1];
		x2 = V[ E[i][1] ][0];
		y2 = V[ E[i][1] ][1];
		line(x1, y1, x2, y2);
	  }
	  for (var i=0; i<V.length; i++) {
		fill(255,179,0);
		circle(V[i][0], V[i][1], 30);
		fill(0);
		text(labels2[i], V[i][0]-15, V[i][1]-24);
	  }
	}
	</script>
					</div>
				    <h2>Add Base</h2>
				    <form method="POST" class="post-form">
				    	{% csrf_token %}
				        {{ form|crispy }}
						<button class="btn btn-outline-info btn-set-primary"  type="submit" >Save</button>
						<a class="btn btn-outline-info btn-set-primary"  href ="{% url 'edit_graph' %}" >Back</a>
				    </form>

				</div>
                <br>
                
			</div>
		</div>
	</main>
{% endblock %}